// @tailwind base;
// @tailwind components;
// @tailwind utilities;

// @layer tailwind-base, primeng, tailwind-utilities;

// @layer tailwind-base {
//   @tailwind base;
// }

// @layer tailwind-utilities {
//   @tailwind components;
//   @tailwind utilities;
// }

/* You can add global styles to this file, and also import other style files */
@import "primeflex/primeflex.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #80B828;
  --secondary-color: #00693E;
  --font-family: 'Helvetica', sans-serif;
  --surface-ground: #f8fafc;
}

body {
  font-family: var(--font-family);
  background-color: var(--surface-ground);
  margin: 0;
  padding: 0;
  color: #334155;
}

* {
  box-sizing: border-box;
}