<p-toolbar styleClass="shadow-sm">
    <ng-template pTemplate="start">
        <p-button icon="pi pi-bars" class="mr-4" severity="secondary" [text]="true" (onClick)="toggleMenu()">
        </p-button>
        <div class="font-bold text-xl text-primary">{{ title }}</div>
    </ng-template>

    <ng-template pTemplate="end">
        <div class="flex items-center gap-2">
            <span class="font-medium mr-2">{{ userName }}</span>
            <p-button icon="pi pi-user" [rounded]="true" severity="secondary"></p-button>
        </div>
    </ng-template>
</p-toolbar>